[2016-06-18 08:32] thani-sh opened #1 "Fix socket.io error"
Socket io requires a hack where we should set the `window.navigator.userAgent` to something. But in `react-native` that property is read only so it throws an error.

<img width="487" alt="screen shot 2016-06-18 at 12 54 30 pm" src="https://cloud.githubusercontent.com/assets/136691/16169663/12431506-3554-11e6-9271-a5b072aa5aee.png">

It also throws an error if the hack is not included.

<img width=

[2016-06-18 09:00] thani-sh commented on #1
The fix didn't work. It might have worked when tested for some unknown reasons.

[2016-06-18 09:20] thani-sh commented on #1
Could get it to work by using a patched socket.io until they make an official release The issue was on engine.io-parser repo and they have already merged the PR with the fix. But they still haven't done a release. Until the fix is on an official release, used this patched version.

[2016-06-18 09:20] #1 closed, assigned to nobody

[2016-06-18 09:21] thani-sh opened #3 "Only works when "Remote JS Debug" is on"
The websocket connection only works when the "Remote JS Debug" is on and the debugger tab is also available. Find out why and fix it.

[2016-06-18 09:25] thani-sh opened #4 "Start storybook without editing user code"
Write scripts to package the app and push it to the simulator/device similar to the `react-native run-ios` command.

[2016-06-18 10:06] thani-sh commented on #4
At the moment, users should replace their `index.ios.js` file with the one we use for the storybook as done [here](https://github.com/kadira-samples/react-native-button/tree/f90efd0bd0cc4d6082cf163b2bcdd029d9a02c6a) which is **unacceptable** to say the least. This can be fixed by writing scripts to package the storybook.

[2016-06-18 10:08] thani-sh opened #5 "Use a different app name for storybook"
Storybook uses the same name as the app so it will be replaced in the device/simulator. Use a different name (maybe suffix "Storybook" to the app name) so both the app and storybook can be on the same device at the same time.

[2016-06-18 10:09] thani-sh commented on #5
Try to do this when writing the package script if possible https://github.com/kadirahq/react-native-storybook/issues/4

[2016-06-19 05:09] arunoda commented on #5
This is a valid point.

[2016-06-19 05:11] arunoda commented on #3
We don't need websockets. Use socket.io. It'll use XHR if websocket is not available. We should not need to worry on these stuff.

[2016-06-19 06:55] thani-sh commented on #3
Already using socket.io. It's quite buggy btw, had to use a patched version to get it to work. This issue is not related to that.

[2016-06-21 06:35] thani-sh opened #6 "Can only use one device at a time"
Only one device can use the packager server at a time. It would be great if the storybook can be run on multiple devices simultaneously.

![screen shot 2016-06-21 at 12 03 42 pm 2](https://cloud.githubusercontent.com/assets/136691/16220091/54273852-37a8-11e6-9bdb-a4219255db1b.png)
![screen shot 2016-06-21 at 12 03 56 pm 2](https://cloud.githubusercontent.com/assets/136691/16220082/43076998-37a8-11

[2016-06-21 07:14] thani-sh opened #7 "Implement action logger feature"
Implement action logger for react-native

[2016-06-21 07:29] thani-sh opened #8 "Fix hot reloading storybook"
Hot module reloading needs to be configured.

**TODO**
- [x] update changes to story content
- [x] update when adding new kinds and stories
- [ ] update when changing or removing kinds and stories

[2016-06-21 08:13] thani-sh opened #9 "Show friendly message when there are no devices"
Until a device is gets connected, show a friendly message on the web UI. At the moment it will show an empty storybook which is quite confusing.

[2016-06-21 10:07] thani-sh commented on #8
PR https://github.com/kadirahq/react-native-storybook/pull/10 partially fixes this issue. To fix the third part, clear existing stories for the updated module and load them again.

[2016-06-22 05:43] thani-sh opened #11 "Implement extensions API"
Port client API for adding decorators and addons
- [x] Addons
- [x] Decorators

[2016-06-22 06:36] thani-sh opened #12 "Add a guide for contributors"
Add a simple guide explaining how to setup react-native-strorybook for development with a demo repository.

[2016-06-22 06:38] thani-sh opened #13 "Add advanced setup guide for iOS"
Add a guide on how to setup storybook for iOS as a separate app using build targets (or a better method if available).

[2016-06-22 07:50] arunoda commented on #3
@mnmtanish I added this to the initial release.

[2016-06-22 09:09] thani-sh opened #14 "Improve developer workflow"
When contributing code to _react-native-storybook_ as recommended in guidelines the build process is slow (~ 12s). Also hot module reloading does not seem to work here.

[2016-06-22 09:40] thani-sh commented on #12
Fixed with #15

[2016-06-22 09:40] #12 closed, assigned to nobody

[2016-06-22 12:38] skellock opened #16 "Go Go Go"
Hey,

Thank you for heading into RN land.  Looking forward to trying this out!

Love,
- Silent Majority

[2016-06-22 12:48] thani-sh commented on #3
Fixed with https://github.com/kadirahq/react-native-storybook/pull/17

[2016-06-22 12:48] #3 closed, assigned to nobody

[2016-06-23 06:17] thani-sh opened #19 "Web UI crash when it has selection query params"
The UI attempts to send selection info before the websocket connection is available.

[2016-06-23 06:18] thani-sh commented on #19
Error Message:

[code]

[2016-06-23 07:26] #19 closed, assigned to thani-sh

[2016-06-23 08:18] thani-sh opened #22 "Write unit tests"

[2016-06-23 08:29] thani-sh opened #23 "Pass context variable to the story function"

[2016-06-23 09:10] #11 closed, assigned to thani-sh

[2016-06-23 10:22] thani-sh commented on #23
Fixed with #26

[2016-06-23 10:22] #23 closed, assigned to nobody

[2016-06-23 10:23] thani-sh commented on #7
Fixed with #25

[2016-06-23 10:23] #7 closed, assigned to nobody

[2016-06-27 21:06] geirman opened #29 "404 Link on Readme "Setup React Native Storybook with Android""
The link to "Setup React Native Storybook with Android" on the readme is broke and points to https://github.com/kadirahq/react-native-storybook/blob/master/docs/setup-android.md

[2016-06-28 02:12] thani-sh commented on #29
The link is no longer broken. But the Android guide is not ready yet so the doc is empty. We'll fix it as soon as we figure out a good way to do it.

Thanks for the issue.

[2016-07-03 09:52] thani-sh commented on #5
It's ready for iOS. I think @roonyh wrote a guide for the Android as well. We can close this one as soon as we merge the Android guide.

[2016-07-03 09:52] thani-sh commented on #13
Fixed with #28

[2016-07-03 09:52] #13 closed, assigned to nobody

[2016-07-03 11:51] thani-sh commented on #29
@geirman the Android guide is ready :)
I'll close this issue.

[2016-07-03 11:51] #29 closed, assigned to nobody

[2016-07-03 11:51] thani-sh commented on #5
Fixed with #32

[2016-07-03 11:51] #5 closed, assigned to nobody

[2016-07-03 11:52] thani-sh commented on #4
Setup guides are available which explains how to do this

[2016-07-03 11:52] #4 closed, assigned to nobody

[2016-07-03 16:46] arunoda commented on #8
I updated the README related to HMR.

[2016-07-04 03:38] arunoda opened #33 "Simplify the starting process"
Right now, in order to start the storybook we need to run the app normally and start the storybook server separately.

This gets worst, when it's for Android.

We need to simplify this and simply use a single npm script to run start the whole process like this:

[code]

or

[code]

[2016-07-04 04:14] thani-sh commented on #33
`run-ios` and `run-android` commands are already there. It will start storybook app on devices but the server needs to be started. Starting the storybook server separately can be useful when we view storybook on multiple devices at the same time.

[2016-07-04 05:08] arunoda commented on #33
Got it.

[2016-07-04 05:08] #33 closed, assigned to nobody

[2016-07-04 06:14] thani-sh opened #34 "Remove arguments on run-ios/run-android commands"
These information are already available (or can be inferred). Remove them to make the command simpler.
- [ ] ios
- [ ] andorid

[2016-07-04 06:16] thani-sh commented on #34
`run-ios/run-android` will be getting some other command line arguments (build type: dev/prod and communication method) so better remove unnecessary ones soon.

[2016-07-04 09:24] arunoda opened #35 "Seems like actions not working"
Can we see some examples for this?

[2016-07-05 02:21] thani-sh commented on #35
We have some examples [here](https://github.com/kadira-samples/react-native-button.git).

[2016-07-05 03:12] #35 closed, assigned to nobody

[2016-07-10 18:53] jairtrejo opened #40 "Missing linkTo"
I believe not all of the API from [this guide to writing stories](https://github.com/kadirahq/react-storybook/blob/master/docs/writing_stories.md) is implemented. Notably, the `linkTo` function is missing.

I am unsure if maybe I'm supposed to import it in a special way, so I filed this issue.

Thank your for this project! Being able to use it for React Native has been awesome.

[2016-07-10 20:01] arunoda commented on #40
@mnmtanish any comments on this?

[2016-07-11 13:15] thani-sh commented on #40
I'll check it out. I think I can get this ready by tomorrow.

[2016-07-12 12:02] thani-sh opened #42 "getJSMainModuleName error"
From react native `v0.29.0` it throws an error because **MainActivity.java** does not extend a class with `getJSMainModuleName`. The method should be overridden in **MainApplication.java**.

Update the doc [here](https://github.com/kadirahq/react-native-storybook/blob/master/docs/setup-android.md#step-2-override-getjsmainmodulename)

[2016-07-17 14:34] thani-sh opened #45 "Write a contributor guide"
Use `file://...` in package.json as the source for @kadira/react-native-storybook when developing. This seems like the most straightforward method.

[2016-07-17 18:14] thani-sh commented on #40
@jairtrejo linkTo works from `v1.11.2`. Sorry about the delay guys, had to do some code refactoring before adding this feature. Anyways, future code changes will be easier from now.

[2016-07-17 18:14] #40 closed, assigned to nobody

[2016-07-17 18:15] thani-sh commented on #6
This can be done using the bundled version. Unfortunately it won't work with hot module reloading.

[2016-07-17 18:31] thani-sh commented on #6
Created a feature request on productpains.com [here](https://productpains.com/post/react-native/support-multiple-clients-for-packager).

[2016-07-18 04:37] thani-sh commented on #9
Fixed this sometime ago

[2016-07-18 04:37] #9 closed, assigned to nobody

[2016-07-19 00:26] jairtrejo opened #46 "addDecorator should be chainable"
The `addDecorator` function should return `this` so it is chainable. That would enable doing things like:

[code]

It is chainable in the React DOM version :)

Thanks in advance!

[2016-07-19 09:56] thani-sh commented on #46
Hi @jairtrejo
Just released `v1.11.3` with a fix. It should work now.

[2016-07-20 03:33] #46 closed, assigned to nobody

[2016-07-20 03:53] jairtrejo commented on #46
Thank you! You guys are super fast

[2016-07-20 05:29] roonyh opened #48 "Support modules"
At the moment react-native storybook helps mostly app developers. The documentation assumes its added to an existing app.

We can make it work also for module developers, so instead of sample apps they can use storybook.

[2016-07-26 07:27] thani-sh opened #50 "Decorators may get applied multiple times"
Check whether [this issue](https://github.com/kadirahq/react-storybook/issues/284) reported on react-storybook repo exists here. It is more likely that it does. Unfortunately we can't apply the solution used there because react-native HMR does not support dispose handlers. Investigate this issue and find a good solution.

If the issue exists, I think users can prevent it by manually calling `clear

[2016-08-02 12:33] arunoda opened #51 "Add an easy way to start using Storybook"
Currently using storybook is non ideal(replacing index) or non trivial(configuring platform files).
So, we need to create another method which sites in between. Here's my idea:

There's a floating button on the screen where it renders on top of any other component. Just like iPhone's accessibility button.

When the user clicks on that button, it'll toggle the storybook's preview. I think that's a

[2016-08-03 21:32] rootedsoftware commented on #51
I really like this. Also, could you use some of the quick key combos, like React Native does to switch between these? (I'm thinking of the CMD + R they use).

[2016-08-04 01:18] arunoda commented on #51
@c316 We were looking at that too, but the problem is `CMD + R` is a special functionality. Not sure how to get something like that.

Anyway, we can try.

[2016-08-06 19:04] arunoda commented on #51
<a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;i53FzTM2&#x2F;1-add-getstorybook-support-for-react-native"><img src="https:&#x2F;&#x2F;github.trello.services&#x2F;images&#x2F;trello-icon.png" width="12" height="12"> Add getstorybook support for React Native.</a>

[2016-08-24 15:04] alloy opened #54 "Cannot install with RN >= 0.30.0"
The [version requirement you have on RN](https://github.com/kadirahq/react-native-storybook/blob/977f6e86cca5afd57ec502193ee3ba508b30a282/package.json#L29) states that it may not go over 0.27.x, meaning that npm complains when we try to use it with RN 0.30.0 and shrinkwrap.

FWIW Your package seems to work fine with RN 0.30.0.

[2016-08-25 05:12] thani-sh commented on #54
Hi @alloy
Released `v1.12.5` which has `0.27.0 - 0.30.x` for react-native peer dependency versions.
I'll check it with `v0.31.0` and do another patch release soon.

[2016-08-25 05:39] thani-sh commented on #54
Release `v1.12.6` supports react-native versions upto `v0.31.0`

[2016-08-25 07:53] alloy commented on #54
Awesome, thanks for the fast turnaround time! :+1:

[2016-08-25 07:53] #54 closed, assigned to nobody

[2016-08-25 17:00] arunoda commented on #51
I think this is already implemented now.
Check the README :)

@mnmtanish nice work.

[2016-08-25 17:00] #51 closed, assigned to nobody

[2016-08-25 17:01] arunoda opened #56 "Display a message to access storybook from the browser"
When we run the storybook app in the simulator but without opening a storybook URL, app just shows a blank page.

In that we need to show a message asking to access the server.
(Or something similar)

[2016-08-25 17:08] arunoda opened #57 "Got an error when I access the storybook for the first time."
See this error:
<img width="487" alt="screen shot 2016-08-25 at 10 35 40 pm" src="https://cloud.githubusercontent.com/assets/50838/17978571/59a2e340-6b14-11e6-92a7-e5a58da8c37c.png">
### How to Reproduce
- npm run storybook
- react-native run-ios
- Then there's a blank screen on the phone.
- Now, open storybook at http://localhost:7007

Then you'll get this error.

When I reload the app, this erro

[2016-08-25 17:58] thani-sh commented on #42
Not required since v2

[2016-08-25 17:58] #42 closed, assigned to nobody

[2016-08-25 17:59] thani-sh commented on #34
Removed these commands on v2 as we can use `react-native run-ios` directly

[2016-08-25 17:59] #34 closed, assigned to thani-sh

[2016-08-25 18:00] thani-sh commented on #14
Duplicate of #45

[2016-08-25 18:00] #14 closed, assigned to nobody

[2016-08-26 02:38] lorensr opened #58 "Application periodic has not been registered"
I get the below error screen after doing the following:

[code]

[code]

![image](https://cloud.githubusercontent.com/assets/251288/17992310/23d9f0c8-6b14-11e6-8bd6-7f3b3b0702d5.png)

There are no errors when I do `npm run start`.

[code]

Repo: https://github.com/lorensr/react-native-periodic

The only warning I got during `getstorybook` was the peer dependency of RN `0.31.0`, whereas `react-nati

[2016-08-26 02:41] thani-sh commented on #58
We need to make a small edit to the index.ios.js file in storybook dir. We'll push an update for getstorybook to automate this ASAP.

[2016-08-26 02:47] lorensr commented on #58
Thanks! Once it's updated, I should do this?

[code]

[2016-08-26 02:52] thani-sh commented on #58
Yes that should work. I've also opened a PR.

[2016-08-26 04:12] arunoda commented on #58
@lorensr As for a quick fix, go to storybook/index.ios.js and add **periodic** for `AppRegistry.registerComponent`.

I hope there's something else there.
I mean this like: https://github.com/lorensr/react-native-periodic/blob/master/storybook/index.ios.js#L11

[2016-08-26 04:34] lorensr commented on #58
Made the change. Now web UI has stories, and I get a different error:

![image](https://cloud.githubusercontent.com/assets/251288/17994239/c7911812-6b24-11e6-9d36-cd9b7d81b0c0.png)

[2016-08-26 04:50] arunoda commented on #58
Reload the app now. Related to #57

[2016-08-26 05:04] #57 closed, assigned to nobody

[2016-08-26 05:43] lorensr commented on #58
Okay now blank:

![image](https://cloud.githubusercontent.com/assets/251288/17995276/622f41ba-6b2e-11e6-8ceb-862e78fefd5a.png)

![image](https://cloud.githubusercontent.com/assets/251288/17995279/67071596-6b2e-11e6-89c3-dbe35a419594.png)

![image](https://cloud.githubusercontent.com/assets/251288/17995295/77ea6fa2-6b2e-11e6-86a3-cf7bf3d94467.png)

[2016-08-26 08:50] thani-sh opened #61 "Support react-native v0.32.0"
Test react-native storybook on this version and update package.json

[2016-08-26 08:57] thani-sh opened #62 "Blank screen before starting the webapp"
When the user starts the app the screen is blank which can be mistaken as an error.

**Options:**
1. show the first story
2. show a message

Which option will be more useful for developers?

[2016-08-26 09:05] thani-sh opened #63 "Storybook webapp preview area is blank"
The preview area is blank at the moment (as preview is done using simulators).

**Options**
1. add a simple user guide whch asks users to run the simulator
2. make it configurable with the addon api and let users decide
3. make it configurable and then use it to add user guide by default

[2016-08-26 09:13] thani-sh commented on #61
Fixed with #65

[2016-08-26 09:13] #61 closed, assigned to thani-sh

[2016-08-26 09:14] thani-sh commented on #62
Duplicate issue #56

[2016-08-26 09:14] #62 closed, assigned to nobody

[2016-08-26 10:24] arunoda commented on #63
We can that screenshot preview thing here. It will be pretty useful.

[2016-08-26 10:26] arunoda commented on #58
Weird. @mnmtanish could you check the above linked repo?

[2016-08-26 11:00] thani-sh opened #66 "Reconnect websocket connection on close"
Reconnect websocket connections if they close.

[2016-08-26 11:30] thani-sh commented on #58
Just checked it out, and it was working okay.

My guess is that its showing the blank page because the current story is not set (related issue #56). When a RN app starts, the browser should send the active story (through the server) for it to display. This won't happen if the websocket connection between the browser and the server closed for some reasons (opened an issue for this #66).

[2016-08-26 11:32] thani-sh commented on #58
- Released `getstorybook v1.4.1` which fixes the issue mentioned [here](https://github.com/kadirahq/react-native-storybook/issues/58#issue-173356684)
- Released `@kadira/react-native-storybook v2.0.1` which fixes the issue mentioned [here](https://github.com/kadirahq/react-native-storybook/issues/58#issuecomment-242628121)

[2016-08-28 05:41] lorensr commented on #58
Just tried again. At first, got blank screen, but then hit cmd-R again, and it works!

[2016-08-28 05:41] #58 closed, assigned to nobody

[2016-08-29 06:16] thani-sh commented on #63
Addon developers can use the addons API to set whatever they want there. We can include the screenshots addon by default as soon as it's ready.

[2016-09-06 15:48] FaridSafi commented on #63
I suggest to allow to render a custom image/text as a preview for each story
Eg: displaying a mockup of the component to develop

Edit: I finally created an [addon](https://github.com/LeReacteur/storybook-addon-mockup) to display a mockup

[2016-09-10 14:21] thani-sh opened #70 "Support react-native v0.33.0"
Test react-native-storybook with RN v0.33.0 and extend the range on peer dependencies.

[2016-09-10 16:22] arunoda commented on #70
Do we still need to test this for every new release.
We don't do hacks now. So, it should be working under new releases automatically.

Isn't that the case.

[2016-09-15 05:42] thani-sh commented on #70
Fixed with #71

[2016-09-15 05:42] #70 closed, assigned to nobody

[2016-09-25 11:40] ColCh opened #82 "context in decorator is undefined"
Trying to run knobs with react-native-storybook. Got an error:

[code]

![image](https://cloud.githubusercontent.com/assets/599439/18815070/d46299a0-832d-11e6-84be-bd859f8f6cad.png)

A bit debugging:
![image](https://cloud.githubusercontent.com/assets/599439/18815074/f1a3ca16-832d-11e6-9bf9-7ea124e608a5.png)

[2016-09-25 11:56] thani-sh commented on #82
Hi @ColCh
Thanks for reporting this bug, I've opened a pull-request with a fix but unfortunately I'm unable to test it today. I'll merge this and do a release as soon as I could verify.

@arunoda @roonyh
If you guys can check this out, let me know or just merge the PR and do a release.

[2016-09-25 12:26] ColCh commented on #82
@mnmtanish thanks. applied this fix in local `node_modules`, it works nice now

But then... issue with `knobs` itself: https://github.com/kadirahq/storybook-addon-knobs/issues/41

[2016-09-26 00:08] #82 closed, assigned to nobody

[2016-09-26 00:16] thani-sh commented on #82
Released `v2.1.2`

[2016-10-03 23:57] frederickfogerty commented on #8
Hey @arunoda, is there any update with this?

[2016-10-04 02:15] arunoda commented on #8
Hey @frederickfogerty HMR is working pretty well and functional (without any additional config)

We still can't to one thing. That's to remove stories if we delete them or renamed them.
That's because we don't have a rich HMR api in RN.
(We may need to find a better way to do this)

[2016-10-04 04:09] philcockfield opened #103 "Co-locate stories with components."
Is there an equivalent way to find stories that sit alongside their components with a `.stories` extension like you can on web:

[code]

(ref: https://getstorybook.io/docs/basics/writing-stories)

[2016-10-04 05:18] thani-sh commented on #103
React Storybook uses `require.context` to do that which is a Webpack feature. So far, we don't know of any equivalent feature in React Native bundler. I'll see what we can do to enable this.

[2016-10-04 05:26] philcockfield commented on #103
That would be awesome if it's in any way possible!! - thanks @mnmtanish

[2016-10-04 08:51] frederickfogerty commented on #8
@philcockfield Is HMR working for you now? It wasn't working for us today when I was on Skype with you - has it behaved better since?

[2016-10-04 08:54] philcockfield commented on #8
@frederickfogerty just tried it again now.  Seems to be working, now that everything else has settled down.

[2016-10-04 09:45] arunoda commented on #8
@frederickfogerty Just to check. Have you enabled HMR using RN's config menu (CMD + R)

[2016-10-04 21:25] frederickfogerty commented on #8
Yes, I've enabled HMR - I'll try using it again and report back here if I have any issues.

[2016-10-15 22:52] elie222 commented on #63
I'm confused how Storybook is supposed to work for RN. I'm running the app on iOS simulator, and have gone to the storybook url in the browser, but i dont see any components. it's just an empty storybook

[2016-10-16 08:27] thani-sh commented on #63
Hi @elie222
We're still working on the preview area. Please start the iOS/Android simulator/emulator to check it out for now. Check this [readme](https://github.com/kadirahq/react-native-storybook/blob/master/readme.md) file and the screenshot in the Readme for more information.

[2016-10-16 12:18] elie222 commented on #63
The entire storybook is blank for me. And when I start the app, I just see
my regular app running without anything Storybook related.

I've run: npm run storybook

And started my app, but the regular app just starts up.

On 16 October 2016 at 11:27, Muhammed Thanish notifications@github.com
wrote:

[2016-10-16 12:57] elie222 commented on #63
Ah, the issue may be that I'm using Exponent. Someone told me they got it running, but it turns out it wasn't with Exponent in the end.

[2016-10-16 12:58] elie222 opened #105 "Is there a way to get this working with Exponent?"
Hi,

I use Exponent to develop. Has anyone managed to get Storybook working with Exponent?
https://getexponent.com/

[2016-10-30 09:26] ckothari commented on #103
+1

[2016-10-31 12:24] tracyxiong1 opened #107 "Android "websocket: connection error", "Failed to connect to localhost/127.0.0.1:7007""
Hi, there was an error on the Android platform, working on the iOS.
Error message is " websocket: connection error", "Failed to connect to localhost/127.0.0.1:7007".

[code]
react-native 0.31.0
getstorybook 1.6.1

[2016-10-31 12:45] thani-sh commented on #107
Can you try forwarding that port

[code]

[2016-11-01 04:00] thani-sh opened #108 "Add a suite of tests to check with new versions of React Native"
React Native gets updated quite often, as we're not using any internal APIs now React Native Storybook should work without an issue. It'll be good to have a suite of test to verify that. It'll be great if it can be completely automatic but it's not a must.

[2016-11-01 04:03] thani-sh opened #109 "React Native v0.36 peer dependency warning"
Issue: https://github.com/kadirahq/react-storybook/issues/589

[2016-11-01 04:03] thani-sh commented on #109
Fixed with #106

[2016-11-01 04:04] thani-sh commented on #109
Released `v2.1.5`

[2016-11-01 04:04] #109 closed, assigned to nobody

[2016-11-01 11:31] tracyxiong1 commented on #107
@mnmtanish Cool! It looks like it's going to work, but why do I have to do it? Is this a bug of Android?

[2016-11-01 13:04] thani-sh commented on #107
It happens because `localhost` in the android device does not point to the host machine. This command will tunnel data from Android device to host machine for that port. The iOS simulator does this automatically

[2016-11-01 15:35] maxg7 opened #110 "react-native peer dependency warning"
Currently react-native-storybook@2.1.4 requires a peer of react-native@0.27.0-0.34.x.
React-native is currently at 0.36.0.
Every time a new npm dependency is installed or updated this warning pops up again.

Are there a suite of tests that can be run to verify react-native-storybook works for react-native 0.36.0 and then we can bump up the peer dependency version?

[code]

_Originally opened in ht

[2016-11-01 16:12] thani-sh commented on #110
Hi @maxg7,
We fixed this on `v2.1.5`

[2016-11-01 16:20] maxg7 commented on #110
Ah, sweet. Just saw the commit. I'll close this one. Thanks @mnmtanish

[2016-11-01 16:20] #110 closed, assigned to nobody

[2016-11-08 11:00] #56 closed, assigned to nobody

[2016-11-08 11:06] thani-sh commented on #50
**TODO:**
- [ ] try to reproduce this issue and check whether it exists
- [ ] find a solution without adding extra config for users

[2016-11-08 11:07] #107 closed, assigned to nobody

[2016-11-10 16:32] thedgbrt commented on #8
Hey guys, HMR is not working for me (only tested with Android). When I save a file, it does shows "hot loading..." on the device screen. However it doesn't actually update.

[2016-11-10 20:16] frederickfogerty commented on #8
@thedgbrt Hot reloading has been working fine for us for a long time now. Is there anything different about your setup? Have you tried restarting all the separate components (packager, storybook, android)?

[2016-11-11 11:36] thedgbrt commented on #8
@frederickfogerty I'm on windows, using GenyMotion simulator. I have just tried it after restarting my computer.
- Started device simulator (app already installed)
- Ran `adb reverse` on all required ports (including 7007)
- Ran `npm run storybook`
- Ran app, opened dev menu, click "enable hot reloading"
- Make an update to a component, save it
- Shows "hot reloading..." on screen, but nothing cha

[2016-11-12 23:07] frederickfogerty commented on #8
@thedgbrt That all seems fine to me, might be something to with Windows/your environment, I'm not sure to be honest

[2016-11-13 13:38] thedgbrt commented on #8
@frederickfogerty thanks! will report back if I manage to make it work ;)

[2016-11-13 19:15] thedgbrt opened #113 "Doesn't work on Windows if launched from a shell with lowercase drive letter"
Hey guys,
congrats for the work on storybook, it's blowing my mind and transforming the way I make apps for the better 😄 !

If I run `npm run storybook` from a shell starting with a lowercase drive letter : `c:\Users\dagobert\dev\awesomeApp>`, it warns me of conflicts between modules and then crashes with an error 500.

[code]

It took me two hours to realize that when I'm launching the command fr

[2016-11-17 10:01] andrewn commented on #8
I've found that hot reloading mostly doesn't work with [Functional components](https://facebook.github.io/react/docs/components-and-props.html#functional-and-class-components) at all in React Native. I see the "hot reloading" banner at the top but then nothing happens.

Class-based (ES6) components seems to hot reload ok (e.g. `class Name extends React.Component { ... }` form.)

So I wonder whethe

[2016-11-17 11:44] thedgbrt commented on #8
That's it! I was indeed using stateless functional components.
I just tried to convert it to a Class and HMR worked as expected within storybook.
Also tried HMR outside of storybook, and functional components didn't reload there either.

Opened an issue in the react native repo.
https://github.com/facebook/react-native/issues/10991

I think we can close this one.

[2016-11-17 11:53] thani-sh commented on #8
Hi @thedgbrt,
We still have an HMR related issue when removing stories. Let's keep this issue open until it's fixed

[2016-11-17 12:06] thedgbrt commented on #8
@mnmtanish my bad

[2016-12-17 07:06] linonetwo opened #116 "Don't work if Debug server host is setted: websocket: connection error", "Failed to connect to localhost/127.0.0.1:7007"
I use wifi to sent bundle, in Dev settings, I set Debug server host to 10.0.0.90:8081, and bundle was sent. But socket seems still try to connecting 127.0.0.1:7007.

I think socket should read Dev setting, and try to connect 10.0.0.90:7007 if I have set it.

Seems running "storybook start -h 10.0.0.90 -p 7007" can't help.

[2016-12-17 07:20] linonetwo commented on #116
Ok, seems using:

[code]
can do this.

[2016-12-17 07:21] linonetwo commented on #116
But I think it's better to read Dev settings...Since this is config, prefer not hardcoded.

[2016-12-17 07:30] linonetwo commented on #116
Well, after searching. I still don't know how to read Dev settings, or I could have made a PR...

Tell me if anybody know the way to do this.

[2016-12-19 04:48] thani-sh commented on #116
Hi @linonetwo

Thanks for opening the issue. If you find a way to pass some config info into the React Native app at build time without hard coding it, please let me know. So far, the only I way I found is by dynamically generating a JS file when starting storybook and importing it into the RN app. I'm trying to find a better way to do this.

[2017-01-03 18:28] hadfieldn opened #117 "Possible to use storybook-addon-knobs?"
I get an error when [importing](https://github.com/storybooks/storybook-addon-knobs#getting-started) `@kadira/storybook-addon-knobs/register` due to a [dependency on insert-css](https://github.com/storybooks/storybook-addon-knobs/blob/master/src/components/types/Date/index.js#L20), which [requires](https://github.com/substack/insert-css/blob/master/index.js#L14) `document`.

Is there another way t

[2017-01-05 17:05] arunoda commented on #117
Let's discuss here - https://github.com/storybooks/storybook-addon-knobs/issues/83

[2017-01-05 17:05] #117 closed, assigned to nobody

[2017-01-06 02:27] DandroidDeveloper commented on #116
In Android Studio on Ubuntu localhost needs to be changed to 10.0.2.2 in order for storybook to work, the emulator doesn't recognize localhost

[2017-01-06 07:11] linonetwo commented on #116
Nowadays I just read different config files when running by different npm script....

[2017-01-12 22:32] RangerMauve opened #118 "React-Native-Web support"
It would be cool if this project supported [react-native-web](https://github.com/necolas/react-native-web). Essentially, having the same interface as the Android or iOS version, but spawning the code inside a new browser window.

[2017-01-13 01:19] linonetwo opened #119 "Use .babelrc of parent directory Instead of storybook"
Seems RNStorybook will not use .babelrc that RN will use when normally started. Is that true?
I found this because I can't use @decorator when using RNStorybook.

[2017-01-13 01:25] arunoda commented on #118
I wonder what you mean by this. React Native Web, actually use storybook as it's [documentation](http://necolas.github.io/react-native-web/storybook/?selectedKind=APIs&selectedStory=Clipboard&full=0&down=1&left=1&panelRight=0&downPanel=kadirahq%2Fstorybook-addon-actions%2Factions-panel).

You could simply use our react-storybook for that.

[2017-01-13 01:25] #118 closed, assigned to nobody

[2017-01-13 01:26] arunoda commented on #118
Basically, you need to create an alias for RNW with our [custom webpack config](https://getstorybook.io/docs/react-storybook/configurations/custom-webpack-config).

[2017-01-13 14:41] RangerMauve commented on #118
Is it possible, then, to use both the React Native storybook and the regular storybook together in the same project?

[2017-01-16 02:53] linonetwo opened #120 "Hook on leaveing a story"
Some component will change Orientation of device, so seems that we need a hook to revert the changing of Orientation on leaving a story.

[2017-01-20 11:22] ucokfm commented on #8
For stateless component, it seems we must provide class based higher (wrapper) component.
As a temporary workaround, i can enable HMR by modify storybook/index.android.js :
[code]

[2017-01-22 15:29] thani-sh commented on #120
I think we should be able to do this with a decorator. The basic idea is to wrap the story with a component and run the hook function on `componentWillUnmount`

[code]

[2017-01-22 16:00] linonetwo commented on #120
That would be much more easy to use. I'm currently having to use redux to do this clean up work for every component.

[code]

Where ```STORYBOOK.request({ orientation: 'landscape' })``` is an action creator for informing redux to do something special for storybook. If I don't pass ```orientation: 'landscape'``` to it, it will reset the orientation.

[2017-02-01 19:19] holmesal commented on #118
@RangerMauve right, so that you could have a react-native-web component rendered in the area on the left, and then optionally a native component rendered in the simulator.

This would actually be really useful for me. I've been teaching designers to Storybook, so that they can update styles and see the changes on the component-level. Getting them all set up with xcode and etc always seems to turn

[2017-02-08 12:50] f0rr0 commented on #119
This also throws with `ex-navigation` which uses decorators

[2017-02-08 21:19] rohit-ravikoti opened #122 "ios device "websocket: connection error""
Hi,
I'm not sure if this functionality is supported, but when I try to run the app on a real ios device, I get the following error:
[code]

[2017-02-23 09:37] ritz078 commented on #119
@mnmtanish any guide about how can we use custom `.babelrc` for this ? As there's no .storybook folder here I guess maybe there's something else ?

[2017-02-23 23:20] bodhi opened #124 "Release 2.2.1 to npm"
2.2.1 appears not to have been released on NPM, and I can't install it directly from this repo:

[code]

Please release 2.2.1 to npm 😸

[2017-02-26 01:21] #119 closed, assigned to nobody

[2017-02-26 01:24] thani-sh commented on #124
Sorry about that. Just published `v2.2.1` and `v2.2.2` to npm.

[2017-02-26 01:24] #124 closed, assigned to nobody

[2017-02-26 01:26] thani-sh commented on #119
Released `v2.2.2` with a fix. Now it'll look for custom .babelrc files in both `project/storybook` directory and `project` directory in that order.

[2017-03-02 06:31] Malenconiaprincep commented on #57
I met this problem  when i use react-native run-ios
`ENOENT: no such file or directory, uv_chdir`   how to solve it ?

[2017-03-02 22:59] admmasters commented on #122
E

[2017-03-04 21:20] chrismcleod commented on #122
@rohit-ravikoti
This is because react native uses "localhost" as the default port for the packager.  This doesn't work for react native storybook.  I'm guessing because it expects that the storybook server is running on the same host as the packager.  However, the storybook host is not on the ios device, it is on your development computer.  So, replace all the localhost references with your comput

[2017-03-05 16:22] barakcoh opened #127 "Placing stories outside storybook's config folder"
Hi

We like to co-locate our Stories with the components they describe. Unfortunately this methodology broke in recent versions of `react-native-storybook`. I've traced the issue to [projectRoots](https://github.com/storybooks/react-native-storybook/blob/master/src/bin/storybook-start.js#L33) that seems to be pointing to the specified `config` folder.

If I add another `projectRoot` that points to

[2017-03-05 16:41] thani-sh commented on #127
Hi @barakcoh,
Thanks for creating the issue. Please go ahead and send the PR. I just want to verify something about using multiple project roots. Is react-native using the correct `index.*.js` files when using multiple project roots? It should always use the index files in storybook directory instead of those in project root.

[2017-03-06 09:12] barakcoh commented on #127
Hi @mnmtanish

I opened the PR, having multiple `index.*.js` doesn't seem to be an issue. The correct `index.*.js` (the one from within my `storybook` folder) was picked up as the entrypoint by the packager.

[2017-03-06 09:17] thani-sh commented on #127
Awesome! I'll run some tests and merge this PR. I'll comment here when it's
ready.

On Mon, Mar 6, 2017, 2:42 PM Barak Cohen <notifications@github.com> wrote:

--

*MN MUHAMMED THANISH*
*@MNMTANISH | HTTP://THANISH.ME <http://thanish.me/>*

[2017-03-08 15:00] #127 closed, assigned to nobody

[2017-03-08 15:06] thani-sh commented on #127
Published RN Storybook `v2.2.4` with this fix

[2017-03-09 12:21] gourav-singhal commented on #63
Hi,

Is this issue resolved ?  I am still getting a blank left story board with no preview.

[2017-03-09 13:02] gourav-singhal commented on #116
Hi

I am getting this same error I tried the solution as suggested by @linonetwo but still no success. Can anybody help ?

[2017-03-09 13:25] xareelee opened #130 "How can I load stories dynamically"
In [this video from egghead](https://egghead.io/lessons/react-load-react-storybook-stories-dynamically), it demonstrate how to load react storybook stories dynamically, but it doesn't work on a react native project:

[code]

Unfortunately, it shows `require.context is not a function` in my iOS simulator.

I put React Native components and the stories in the same folder. How can I load all those st

[2017-03-10 14:36] thani-sh commented on #130
Hi,
The `require.context` function is provided by Webpack so it only works on React Storybook. React Native uses its own bundler which unfortunately does not have this feature at the moment.

[2017-03-11 07:38] xareelee commented on #130
@mnmtanish Thanks.

I found a library to solve this problem (workaround). See [react-native-storybook-loader](https://github.com/elderfo/react-native-storybook-loader).

[2017-03-11 07:38] #130 closed, assigned to nobody

[2017-03-12 04:55] tutaslabs commented on #116
adb reverse tcp:7007 tcp:7007

[2017-03-14 06:41] Kishanjvaghela commented on #107
@mnmtanish adb reverse was introduced in Android 5.0

[2017-03-14 14:50] inyono commented on #105
Yep, use https://github.com/storybooks/react-native-storybook/blob/master/docs/manual-setup.md as usual and use the exported component as entry point in your `App.js` (and start the storybook server). See https://github.com/serlo-org/serlo-abc/tree/expo for a working example. If needed, I can create a repository with a minimal example. Feel free to ping me again if you run into any problems. :)

[2017-03-14 14:53] elie222 commented on #105
Awesome! Thanks a lot!

On 14 Mar 2017 16:50, "Jonas Keinholz" <notifications@github.com> wrote:

[2017-03-15 15:33] slicejunk opened #131 "RelayQL: Unexpected invocation ..."
when use with babel-relay-plugin-loader.
this happens even when the .babelrc is copied into the storybook/ directory.

Any workaround?

[2017-03-15 16:02] inyono commented on #105
I created a blog post about that: https://medium.com/p/using-react-native-storybook-with-create-react-native-app-471e531bb128

[2017-03-15 17:48] elie222 commented on #105
But this is for crna. Is it the same for expo?

On 15 Mar 2017 18:03, "Jonas Keinholz" <notifications@github.com> wrote:

[2017-03-15 18:44] inyono commented on #105
I'm pretty sure that you can apply the same principles. Feel free to ask again, though, if you run into any problems. Then I look again (I'm not really sure what CRNA brings over Expo)

[2017-03-16 17:02] Nasirilahi commented on #63
gourav-singhal You will not be able to see preview in browser as it is mobile app so you will see storied in you simulator/device as you can see in the screenshot and in your browser you will be able to see only actions handlers. Also if you have run command react-native start then you will see only your project running so run npm run storybook command only to see you stories in you simulator/devi

[2017-03-21 04:34] stevenyap commented on #119
I am using `v2.2.4` and it does not look for my .babelrc in my project directory.
Copying a copy of .babelrc in the `storybook` directory works though.

[2017-03-23 14:32] skovhus commented on #103
Semi automated way here https://github.com/elderfo/react-native-storybook-loader

But would be great to avoid the build step.

[2017-03-30 00:55] salmon002 opened #133 "how to debug app"
how can i debug my app. For example, how to print debug info in browser？

[2017-04-04 21:11] ndelangen commented on #22
LMAO

[2017-04-05 05:21] ndelangen commented on #22
The reason I came across this, is because I merged this repo into the monorepo, and tests failed.

https://github.com/storybooks/react-native-storybook/blob/master/package.json#L11 Suggest there are tests, but there actually are none.

[2017-04-05 05:22] ndelangen commented on #16
Thanks! 😄

[2017-04-05 05:22] #16 closed, assigned to nobody

[2017-04-05 05:25] ndelangen commented on #8
It sounds like part 3 is currently impossible? Shell we close this issue, it actually sounds like it's resolved 👍

[2017-04-05 05:25] #8 closed, assigned to nobody

[2017-04-13 03:57] xareelee opened #135 "Support RN 0.43.x"
After installing RN `0.43.x`, I got those warning using `yarn install`:

[code]

RN `0.43.x` depends on react `16.0.0-alpha.6`. Is it possible to make react-native-storybook support RN `0.43x` and react `16.0.0-alpha.6`?

[2017-05-15 09:14] MoOx commented on #135
Curious to know what is the effort here. How can we help?

[2017-05-20 10:06] duanyachao opened #136 "It's fail to Installing dependencies"
i quick start  storybook from npm i -g getstorybook  & getstorybook .but it's fail  at the second step "Installing dependencies  ". can anyone help?
![qq 20170520180337](https://cloud.githubusercontent.com/assets/7410447/26274880/fe7677a2-3d86-11e7-87df-2ae709132e0e.png)

[2017-05-28 20:05] johnmanong opened #137 "Link to new repo is incorrect"
README/description links to:
https://github.com/storybooks/storybook/tree/master/apps/react-native

Should be (singular 'app' vs plural 'apps'):
https://github.com/storybooks/storybook/tree/master/app/react-native

[2017-06-12 22:23] tmaly1980 commented on #58
@mnmtanish,  I'm still having issues with getstorybook where it just prints %APP_NAME% into my storybook/index.js . I ran:

 `npm i -g @storybook/cli`

And then `getstorybook,` which sets

`@storybook/react-native: ^3.1.3
`

in my package.json. However, the generated storybook/storybook.js still has %APP_NAME%, even when I wipe out my storybook/storybook.js and call `getstorybook -f` .

[2017-08-04 12:07] macrozone commented on #50
hi @mnmtanish  I have exact this issue with react native. My storybook/index.js looks like this:

[code]

the decorator:

[code]

I needed to wrap these components in React.Component, otherwise HMR did not work properly. But now a new decorator is added whenever hot reload happens

[2017-08-04 12:39] thani-sh commented on #50
Hi,
Moved the issue: https://github.com/storybooks/storybook/issues/1593

[2017-08-04 12:40] #50 closed, assigned to nobody

[2017-08-04 19:54] ndelangen commented on #137
FIXED, thanks for letting us know!

[2017-08-04 19:54] #137 closed, assigned to nobody

[2017-08-04 19:55] ndelangen commented on #136
Please open an issue over at the new repo if you're still experiencing this issue, thanks!

[2017-08-04 19:55] #136 closed, assigned to nobody

[2017-08-04 19:56] ndelangen commented on #135
Please open an issue over at the new repo if you're still experiencing this issue, thanks!

[2017-08-04 19:56] #135 closed, assigned to nobody

[2017-08-04 19:56] ndelangen commented on #133
Please open an issue over at the new repo if you're still experiencing this issue, thanks!

[2017-08-04 19:56] #133 closed, assigned to nobody

[2017-08-04 19:56] ndelangen commented on #131
Please open an issue over at the new repo if you're still experiencing this issue, thanks!

[2017-08-04 19:56] #131 closed, assigned to nobody

[2017-08-04 19:56] ndelangen commented on #122
Please open an issue over at the new repo if you're still experiencing this issue, thanks!

[2017-08-04 19:56] #122 closed, assigned to nobody

[2017-08-04 19:56] ndelangen commented on #120
Please open an issue over at the new repo if you're still experiencing this issue, thanks!

[2017-08-04 19:56] #120 closed, assigned to nobody

[2017-08-04 19:56] ndelangen commented on #116
Please open an issue over at the new repo if you're still experiencing this issue, thanks!

[2017-08-04 19:56] #116 closed, assigned to nobody

[2017-08-04 19:56] ndelangen commented on #113
Please open an issue over at the new repo if you're still experiencing this issue, thanks!

[2017-08-04 19:56] #113 closed, assigned to nobody

[2017-08-04 19:57] ndelangen commented on #108
Please open an issue over at the new repo if you're still experiencing this issue, thanks!

[2017-08-04 19:57] #108 closed, assigned to nobody

[2017-08-04 19:57] ndelangen commented on #108
Please open an issue over at the new repo if you're still experiencing this issue, thanks!

[2017-08-04 19:57] ndelangen commented on #105
Please open an issue over at the new repo if you're still experiencing this issue, thanks!

[2017-08-04 19:57] #105 closed, assigned to nobody

[2017-08-04 19:57] ndelangen commented on #103
Please open an issue over at the new repo if you're still experiencing this issue, thanks!

[2017-08-04 19:57] #103 closed, assigned to nobody

[2017-08-04 19:57] ndelangen commented on #66
Please open an issue over at the new repo if you're still experiencing this issue, thanks!

[2017-08-04 19:57] #66 closed, assigned to nobody

[2017-08-04 19:57] ndelangen commented on #63
Please open an issue over at the new repo if you're still experiencing this issue, thanks!

[2017-08-04 19:57] #63 closed, assigned to thani-sh

[2017-08-04 19:58] ndelangen commented on #48
Please open an issue over at the new repo if you're still experiencing this issue, thanks!

[2017-08-04 19:58] #48 closed, assigned to nobody

[2017-08-04 19:58] #45 closed, assigned to nobody

[2017-08-04 19:58] #22 closed, assigned to thani-sh

[2017-08-04 19:59] #6 closed, assigned to nobody

[2017-10-30 16:34] amed commented on #105
@inyono as you mentioned in your blog `medium.com` which is mostly obsolete, there should be a scripts-overriding in order to start with `Create React Native App`.
Since this question is about Expo, do you have an idea how it could be exactly integrated with it. I could not find my way into it.

[2017-10-30 19:24] inyono commented on #105
@amed not sure what you mean? Are you talking about the changes to the npm scripts? If so, something like
[code]
should work in your case (if you want to start both storybook and the app itself). If you don't use the CLI, you have to start the storybook from your command line and start your app in the way you usually do.

[2017-11-02 09:13] amed commented on #105
I am on the latest version of `Expo ^22.0.0` , I tried to follow the approach that is here at your repo: https://github.com/inyono/crna-storybook

Since the package name now called `@storybook/react-native` instead of `@kadira/react-native-storybook` there was an error asking for `@kadira/react-native-addons` which was a dead-end for mounting storybook with the latest sdk.

PS: cloning `crna-story

[2017-11-02 11:51] inyono commented on #105
Yeah, https://github.com/inyono/crna-storybook is still using Storybook 2. You can find a working version for Storybook 3 at https://github.com/serlo-org/serlo-abc.

Relevant for you:
* https://github.com/serlo-org/serlo-abc/tree/master/storybook. You [won't need `loadFonts`](https://github.com/serlo-org/serlo-abc/blob/master/storybook/index.js#L16), just export `StorybookUI`.
* https://github.com